<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <label for "name">Team name:</label>
    <form method="POST" action="/team">
     <input type="text" name="string">
     <input type="submit">     <p>Coach: <input type="text"></p>
     <p>Point Guard: <input type="text"></p>
     <p>Shooting Guard: <input type="text"></p>
     <p>Power Forward: <input type="text"></p>
     <p>Small Forward: <input type="text"></p>
     <p>Center: <input type="text"></p>
     <input type="submit">
   </form>
 </body>
</html>


